<?xml version="1.0"?>
<model>
    <name>fractal_4L_6</name>
    <version>1.0</version>
    <sdf version="1.10">model.sdf</sdf>
    <author>
        <name>Jorge Estupinan</name>
        <email>jorgestu20@gmail.com</email>
    </author>
    <description>fractal_4L_6 used in the WAM-V Landing configuration.</description>
</model>